<div class="ticker">

    <!--*<div  class="up-scroll">

        <div ng-repeat="t in strings" >
            <span class="text-format">{{t}}</span>
        </div>


    </div>-->

    <!--<div class="left-scroll">

        <span ng-repeat="t in strings" style="white-space: nowrap;">
            <span class="text-format">{{t}}</span>
            <span class="spacer">-</span>
        </span>


    </div>-->
    <!--<div>
        <div id="slider" class="text-slider" ng-style="{ 'left': slider.leftPos+'px' }">
            <span class="text-format">{{strings[0]}}</span>
        </div>
    </div>-->
    <!--<div class="edge"></div>
    <ul class="left-scroll">
        <li ng-repeat="str in strings track by $index">
            <div class="text-format">
                {{str}}
            </div>
        </li>
    </ul>-->


    <!--<div class="left-scroll">

        <span ng-repeat="t in ticks track by $index" style="white-space: nowrap;">
            <span class="text-format">{{t}}</span>
            <span class="spacer">-</span>
        </span>
    </div>-->

    <!--<div class="left-scroll">
        <span class="text-format">{{ticks[0]}}</span>

        <span class="text-format">{{ticks[1]}}</span>

    </div>-->


    <!--<div class="left-scroll" ng-repeat="t in ticks track by $index"  style="display:inline-block;">
        <div class="text-format " style="display:inline-block;">{{t}}<span class="spacer">-</span></div>
    </div>-->


    <!--    <div class="edge"></div>
        <ul class="slideContainer">
            <li class="text-format " ng-switch="t in ticks track by $index">
                {{t}}
            </li>
        </ul>-->
    <!--<div class="edge"></div>
    <ul>
        <li ng-repeat="str in strings track by $index">
            <div class="animate-show text-format" ng-show="x[{{$index}}]">
                {{str}}
            </div>
        </li>
    </ul>
</div>-->
    <div class="left" id="bar">
        <div ng-repeat="str in strings track by $index" id="{{'str' + $index}}" class="text-slider text-format"
             ng-style="{ 'left': slider.leftPos[{{$index}}] +'px' }">
            {{str}}
        </div>
    </div>


</div>